*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 13px;
    font-weight: 600;
    font-family: Poppins, Arial, Tahoma, Verdana, sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    flex-wrap: wrap;
 
}
.navbar-nav .nav-item {
    flex: 1 1 auto;

    align-items: center;
    text-transform: uppercase;
}
.navbar-brand{
    display: block;
    max-width: 200px;
    max-height: 200px;
}
a:-webkit-any-link {

    cursor: pointer;
    
}
a, a:after, a:before {
    transition: all .3s ease-in-out;
}
.navbar-nav .nav-item .nav-link {
    color: #000;
    font-weight: bold;
}
.navbar-nav .nav-item .nav-link:hover {
    color: #858484;
}
.dropdown-menu {
    background-color: #f8f9fa;
}
.dropdown-item {
    color: #000;
}
.dropdown-item:hover {
    background-color: #007bff;
    color: #fff;
}
.ml-3{
    font-size: 12px;
    color: #000;
    font-weight: 200;
}
.ml-3:hover{
    color: #858484;
    text-decoration: none;
}
.carousel-indicators li {
    background-color: rgba(0, 0, 0, 0.5); /* شفافية خفيفة */
    border-radius: 50%; /* شكل دائري */
    width: 10px; /* حجم الدائرة */
    height: 10px; /* حجم الدائرة */
    transition: background-color 0.3s ease, opacity 0.3s ease; /* انتقال ناعم عند التمرير */
}

.carousel-indicators .active {
    background-color: white; /* اللون الأبيض عند النشاط */
    opacity: 1; /* بدون شفافية */
}
/* .carousel-item{
    width: 120%;
    margin: -50px;

}

.carousel-inner .carousel-item img {


    transition: transform .5s ease-in-out;
}

.carousel-inner .carousel-item.active img {
    transform: scale(.95);
}
.carousel-item-next .slider-img,
.carousel-item-prev .slider-img {
  transform: scale(1.1); /* تصغير الصورة التالية */
/* } */

/* .carousel-item {
    transition: transform 1s ease-in-out
    
}
.carousel-item .carousel-item  img {
    width: 120%;

  transform-origin: center center; 
} */



.carousel-item.active.carousel-item-left,
.carousel-item.active.carousel-item-right,
.carousel-item.carousel-item-left,
.carousel-item.carousel-item-right {
    transition:transform .6s ease-in-out, opacity 1s ease;
  transform: scale(1.2); /* تكبير الصورة التالية */
  transition:transform .6s ease-in-out, opacity 1s ease;


} 



footer {
    background-color: #f8f8f8;
    padding: 20px;
    font-size: 11px;
    line-height: 30px;
}

.footer-top {
    background-color: #dcb297;
    padding: 20px;

}

.signup {
    max-width: 600px;
    display: inline;
}

.signup-form {
    display: flex;

    margin-top: 10px;
}

.signup-form input {
    padding: 10px;
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}

.signup-form button {
    padding: 10px;
    background-color: #d58373;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.contact-info,
.information {
    width: 45%;
}

.contact-info h3,
.information h3 {
    margin-bottom: 10px;
}

.contact-info p,
.information ul {
    margin: 5px 0;
}

.information ul {
    list-style-type: none;
    padding: 0;
}

.information ul li {
    margin-bottom: 5px;
}

.information ul li a {
    text-decoration: none;
    color: #000;
}

.social-icons a {
    margin-right: 10px;
    color: #000;
}

.footer-bottom {
    display:flex ;
    justify-content: space-around;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

.payment-icons img {
    margin: 0 -15px;
    width: 50px;
}

    .category-img {
        border: 2px solid #fff; /* Add white border */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add slight shadow */
        width: 70px;
        height: 70px;
        object-fit: cover;
        margin-left: -30px;
    }

    .category-item {
        position: relative;
        text-align: center;
        margin-left: -30px;

    }

    .category-item img {
        border-radius: 50%; /* Make images circular */
        padding: 3px; /* Space between image and border */
        border: 2px solid #ffffff; /* Outer border color (similar to Instagram story style) */

        background: linear-gradient(to bottom, #720154, #ffcc00); /* Gradient background */
    }

    .category-item h5 {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
    }

    /* styles.css */

.card img {
    height: 200px;
    object-fit: cover;
}

.sidebar h5 {
    margin-top: 20px;
}

.form-range {
    width: 100%;
}

.card-body {
    text-align: center;
}

.badge {
    font-size: 1em;
    position: absolute;
    top: 10px;
    right: 10px;
}

.breadcrumb {
    background-color: #f8f9fa;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

p {
    font-size: 1rem;
    margin-bottom: 10px;
    line-height: 1.5;
}

.arabic-text {
    direction: rtl;
    text-align: right;
    font-size: 1rem;
    margin-top: 30px;
}


